.poweredBy {
  &-box {
    background: rgba(0, 0, 0, 0.14);
    height: 100px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &-item {
    display: flex;
    img {
      height: 50px;
    }
    h3 {
      color: #fff;
      align-self: end;
      margin-left: 4px;
    }
  }
  &-heading {
    width: 489px;
    height: 314px;
    margin-top: 20px 0;

    p {
      font-family: "Annie Use Your Telescope";
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 92px;
      /* or 145% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;

      mix-blend-mode: normal;
      z-index: 10;
    }
  }
}
